/* CSS général */
body{
    background-image: linear-gradient(to bottom, #CCDAE0, #EDF2F4);
    background-repeat: no-repeat;
    height: 100%;
    width: 60%;
    margin: auto;
}

header{
    text-align: center;
}

#banner{
    border-radius: 30px;
    padding-top: 1vh;
    /* width: 100%; (pour la rendre un peu + responsive mais pas très esthétique..) */
}

h1{
    color: #EF233C;
    font-size: 45px;
    font-family: 'Impact', charcoal, sans-serif;
    font-weight: bold;
}

footer{
    text-align: right;
}

ul{
    list-style-type: none;
    padding: 0;
}

a:hover{
    color: #2B2D42;
}

a:link{
    color: #D90429;
}

a:visited{
    color: grey;
}


/* CSS de la page index */
h3{
    color: #2B2D42;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    text-decoration: underline dotted;
}

.article{
    background-color: rgba(0, 0, 0, 0.027);
    border: 1px solid;
    border-radius: 30px;
    text-align: center;
    padding: 1vh;
}

.texte{
    text-indent: 10%;
    text-align: justify;
}

.image{
    border: 2px solid #8D99AE;
    border-radius: 20px;
}


/* CSS de la page contact */
form{
    text-align: center;
}

.needed{
    color: red;
}

.elem{
    padding: 1vh;
}

#pseudo{
    margin-right: 1.1vw;
}

#pika{
    text-align: center;
    padding-top: 1vh;
}


/* J'ai essayé de rendre le plus possible la page responsive malgré la limite du padding et margin
    comme je ne voulais pas utiliser les flexbox sans les comprendre totalement.